.navbar
{
margin-top: 20px;
height: 60px;
}
.img-responsive {

    display: block;
    position: absolute;
    width: 180px;
    height:50px;
    top: 0;
    left: 0;
    margin: 20px;
    background-size: auto auto;
    background-size: 90%;
}
.myport {
	margin-left:auto;
	margin-right:auto;
  max-width: 85rem;
}
.header-val {
      margin:3em auto;
        margin-top: 3em;
        margin-right: 5em;
        margin-bottom: 3em;
        margin-left: 3em;
    width: 100%;
		font-family: "HCo Ideal Sans SSm", "Helvetica", "Lucida Grande", sans-serif;
}

.val {
	margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.titleval {
    margin: 0;
    padding-top: 1em;
    font-family: "HCo Ideal Sans SSm", "Helvetica", "Lucida Grande", sans-serif;
    font-weight: 700;
    background: url(https://3.basecamp-static.com/bcxhq/assets/general/check-green-312f0efabeb3f18f51f2c22e21c18bc9c1c9d7a947ba2b5a52b85f05ddae38db.svg) top center no-repeat;
}
